div,
.board {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid hwb(52 2% 6%); */

  /* background-color: yellow !important; */
}

button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 15px 0px;
  cursor: pointer;
  align-content: center;
}

button:hover {
  background-color: #45a049;
  font-size: 16px;
}

div,
.square {
  width: 20px;
  height: 20px;
  background-color: yellow;
  float: left;
}

.tetromino {
  background-color: blue;
}

.taken {
  background-color: grey;
}

.fixed {
  background-color: blue !important;
}

.miniSquare {
  width: 10px;
  height: 10px;
  /* float: left; */
  display: inline-block;
  /* background-color: red; */
}

.miniboard {
  /* background-color: #f0f0f0;  */
  width: 64px;
  height: 64px;
  position: absolute;
  top: 120px;
  left: 250px;
}
